.content img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 5.5em !important;
    margin-right:20px !important;
    border-radius: 50%;
    transition: 0.7s ease-in-out;
}
/* img:hover{
    border-radius: 2%;
    box-shadow: 0.3em 0.3em 0.3em #00FFF5;
} */
.content{
    display: flex;
    font-size: 75% !important;
    justify-content: space-evenly;
}
.intro{
    /* margin: 20px !important; */
    margin-top: 6em !important;
    max-width:65%;
}
.intro p{
    margin: 0.7em;
}
.img{
    max-width: 100%;
}
@media(max-width:900px) {
    .content div {
        font-size: 100%;
        text-align: center;
        margin: 0px !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: flex-start;
    }

    .content img {
        top: 0px;
        max-width: 150px;
        max-height: 150px;
        margin-top: 150px;
        ;
    }

    .intro {
        text-align: right;
    }

    .img {
        top: 150px;
    }
}

@media(max-width:450px) {
    .content div {
        font-size: 60%;
        text-align: center;
        margin: 0px !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 600px;
        margin-right: 3em !important;
        align-items: center;
        justify-content: flex-start;
    }

    .content img {
        top: 0px;
        max-width: 60px;
        max-height: 60px;
        margin-top: 150px;
        border-radius: 50%
    }

    .intro {
        text-align: right;
    }

    .img {
        top: 150px;
    }
}
#iiit{
    color:#00FFF5;
}
img:hover {
    border-radius: 2%;
    box-shadow: 0.3em 0.3em 0.3em #00FFF5;
}