.content img{
    max-width: 10em;
    max-height: 10em;
    margin-top: 5.5em !important;
    /* margin-right:20px !important; */
    border-radius: 50%;
    transition: 0.7s ease-in-out;
}
.content{
    display: flex;
    font-size: 75% !important;
    justify-content: space-evenly;
}
.intro{
    margin-top: 6em !important;
    max-width:65%;
    height:max-content;
    border-radius: 1em;
    /* height: 100%; */
    background-color: #393E46;
    transition: all 0.5s ease-in-out;
}
.intro:hover{
    background-color: #222831;
    box-shadow: 0.1em 0.3em 0.3em 0.3em #00FFF5;
    color:#ffffff;
}

.intro p{
    margin: 0.7em;
}
.img{
    max-width: 100%;
}
@media(max-width:900px) {
    .content div {
        font-size: 100%;
        text-align: center;
        margin: 0px !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: flex-start;
    }

    .content img {
        top: 0px;
        max-width: 150px;
        max-height: 150px;
        margin-top: 150px;
    }

    .intro {
        text-align: right;
        /* height: fit-content; */
    }

    .img {
        top: 150px;
    }
}

@media(max-width:450px) {
    .content div {
        font-size: 80%;
        text-align: center;
        margin: 0px !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 600px;
        margin-right: 1em !important;
        align-items: center;
        margin-left: 5em;
        justify-content: flex-start;
    }

    .content img {
        max-width: 10em;
        max-height: 10em;
        margin-top: 150px;
        border-radius: 50%
    }

    .intro {
        text-align: right;
    }

    .img {
        top: 150px;
    }
}
#iiit{
    color:#00FFF5;
}
img:hover {
    border-radius: 2%;
    box-shadow: 0.5em 0.5em 0.5em gold;
}