.contact div{
    text-align: center;
}
.content div{
    text-align: center !important;
}
button{
    padding: 20px;
    min-width: 40px;
    min-height: 20px;
    font-size: 120%;
    background-color: #00ADB5;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: none;
    border-color: black;
    /* -webkit-transition: all 0.5s ease-in-out; */
        transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: #393E46;
    color:white;
    box-shadow: 5px 5px 5px black;
    
}
.content{
    max-height: 200px !important;
}
@media(max-width:900px) {
    .content {
            max-height: 10em !important;
        }
        .content p {
            margin-left: 4em;
            font-size: 1.5em;
        }
                .contact div {
                    margin:2.5em;
                    margin-left: 4.9em;
                }
    button {
        padding: 15px;
        width: 10em;
            height: 5em;
        font-size: 80%;
        font-family: 'Quicksand', sans-serif;
    }
}
@media(max-width:450px) {
    .content p{
        margin-left: 0em;
        font-size: 2em !important;
    }
    h1{
        margin-left: 0em;
        font-size: 2em !important;
    }
    .content {
        max-height: 10em !important;
    }
    .contact div {
        margin: 1.5em;
        margin-top: 7.5em;
        margin-left: 5em;
    }
    .contact{
        margin-top: 15em;
    }
    button {
        padding: 7px;
        min-width: 15px;
        min-height: 7px;
        font-size: 70%;
        font-family: 'Quicksand', sans-serif;

    }
}